.input-container {
  height: 40%;
}

/* Posts */
.posts {
  width: 100%;
  list-style-type: none;
}

.posts li img {
  width: 90%
}

p.error-message {
  font-size: 1em;
  color: red;
}

/* Login */
#login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}

#login-box {
  padding: 1em 1em;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.social-login {
  margin-bottom: 0;
}

.social-login a {
  margin: 0 10px;
}

.login-button {
  margin-top: 1em;
  width: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}
