h1, h2, p {
	text-align: center;
}
.leaflet-container {
	height: 400px;
	width: 100%;
	margin: 0 auto;
}

.leaflet-marker-live {
	-webkit-animation: pulse 2s ease-out;
	animation: pulse 1s ease-out;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
@-webkit-keyframes pulse {
	from { stroke-width: 15; stroke-opacity: 1; }
	to { stroke-width: 50; stroke-opacity: 0; }
}
@keyframes pulse {
	from { stroke-width: 15; stroke-opacity: 1; }
	to { stroke-width: 50; stroke-opacity: 0; }
}

/* For the draw */
.sr-only {
  display: none;
}

.marker-properties,
.metadata {
    border-collapse:collapse;
    font-size:11px;
    width:100%;
    overflow:auto;
    border-bottom:1px solid #ccc;

    /* Equal to 6 rows */
    max-height:189px;
}

.marker-properties {
    display:block;
}

.metadata {
    display:table;
}

.marker-properties th {
    width:33.3333%;
    min-width:100px;
    white-space:nowrap;
    border:1px solid #ccc;
}

.marker-properties td {
    width:60%;
}

.marker-properties.display td,
.marker-properties.display th {
    padding:5px 10px;
}

.marker-properties tr:last-child td,
.marker-properties tr:last-child th {
    border-bottom:none;
}

.marker-properties tr:nth-child(even) th,
.marker-properties tr:nth-child(even) td,
.metadata tr:nth-child(even) td {
    background-color:#f7f7f7;
}

.geojsonio-feature .leaflet-popup-content-wrapper {
    float: left;
    width: 100%;
    padding: 0;
}

.geojsonio-feature .leaflet-popup-content {
    float: left;
    padding: 0 !important;
    width:100%;
}

.geojsonio-feature .leaflet-popup-tip-container {
    float: left;
    margin-left: 50%;
    right: 10px;
}

datalist {
    overflow: auto;
    height: 150px;
}

/* Tabs
------------------------------------------------------- */
.tabs-ui {
    position:relative;
    width: 250px;
}

.tab .tab-toggle {
    background:#eee;
    cursor:pointer;
}

.tab .tab-toggle:hover {
    background:#f7f7f7;
}

.tab .hide { display:none; }

.tab .content {
    display: none;
    background:white;
    overflow:auto;
}

.tab [type=radio]:checked ~ label {
    background:white;
    border-top-width: 0;
    z-index:2;
}

.tab [type=radio]:checked ~ label ~ .content {
    z-index:1;
    display: block;
}

.add-row-button {
    color: #2980b9;
}

.add-row-button:hover {
    cursor: pointer;
    color: #199CF4;
}

.clear {
  clear: both;
}
