.root {
  width: 100%;
  display: flex;
  font-family: Roboto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.home-list {
  margin-top: 20px;
}
.home-listItem {
  margin-bottom: 10px;
}
.home-wrapper {
  width: 100%;
  display: inline-block;
  height: 300px;
}
.home-editor {
  border: 1px solid #F1F1F1;
  border-radius: 2px;
  height: 80%;
}
.home-toolbar {
  width: 100%;
}
.quote-section {
  margin: 50px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quote {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.quote-text {
  font-size: 16px;
}
.quote-author {
  font-size: 18px;
  margin-left: 15px;
  font-style: italic;
  font-weight: 500;
}
.home-label {
  font-size: 25px;
  font-weight: 500;
  margin-top: 50px;
}
.feature-list {
  margin: 50px 0 50px 50px;
  list-style-type: decimal;
}
.discussion {
  margin-top: 15px;
}


/* Button */
.button-container {
  height: 5em;
}

.clear {
  clear: both;
}
